.dp{
    height: 100%;
    width: 100%;
    border-radius: 20%;
}
p{
    text-align: justify;
    font: 16px verdana;
}
div.top-row{
    background-color: #02565c;
    color: white;
}
.intro{
    /* background-image: url('images/intro.jpg');
    background-attachment: fixed; */
    background-position: relative;
    /* color: white; */
}
/* .skills-html, .skills-css, .skills-js, .skills-php, .skills-java{
    margin: auto;
    border: 4px double black;
    border-radius: 50%;
    height: 100px;
    width: 100px;
    text-align: center;
    font: 12px;
    padding-top:35px;
} */

#skills{
    background-image: url("images/skills-bg.jpg");
    background-attachment: fixed;
}
.white-head{
    color:white;
}

#qual-bg{
    background-image: url("images/qual.jpg");
    /* background-attachment: fixed; */
    background-repeat: no-repeat;
    height: 100%;
    width: 100%;
}